body
{
    font-family: 'Heebo', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Quattrocento Sans', sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-attachment: fixed;
    margin: 0;
}
#form
{
    width: 400px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 9px;
    padding: 30px;
}
h1{
    text-align: center;
    color: #94bbe9;
}
#form button{
    background-color: #94bbe9;
    color: white;
    padding: 10px;
    border: 1px solid #94bbe9;
    border-radius: 6px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 19px;
    width: 100%;
}
.input-group
{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-group input
{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #eeaeca;
}
.input-group input:focus
{
    outline: 0;
}
.input-group .error
{
    color: red;
    font-size: 15px;
    margin-top: 5px;
}
.input-group.success input
{
    border-color: #0cc477;
}
.input-group.error input
{
    border-color: rgb(204,67,67);
}